.apt.mat
Manifest.txt
*.asv
*.avi
*~
*.pdf
*.jpg
*.log
*.trk
*.mat
*.lbl
untitled*
tmp*
gt/TrackingResults*
gt/figs*
deepnet/.idea*
deepnet/pretrained/*
deepnet/log/
.DS_Store
log/
*conda-list.txt
deepnet/pre-run-variables.pkl
*.err.txt
*.out.txt
compiled/
