---
NumViews: 1
ViewNames: # Optional

NumLabelPoints: 4 # The number of physical/3D points
LabelPointNames: # Optional

LabelMode: TEMPLATE # See LabelMode.m

MultiAnimal: 0

Trx:
  ZoomRadius: 100
  ZoomRadiusTight: 10
  ZoomFactorDefault: 0.4 # Should be named 'ZoomRadiusDefault'
  TrajColor: [1,1,0]
  TrajLineStyle: '-'
  TrajLineWidth: 1
  TrajColorCurrent: [1,0,0]
  TrxMarker: 'x'
  TrxMarkerSize: 10
  TrxLineWidth: 3
  TrxIDLblFontSize: 15
  TrxIDLblFontWeight: bold
  TrxIDLblOffset: 2.5 # in pixels, dx/dy offset of text ID lbl
  ShowTrx: 1
  ShowTrxCurrentTargetOnly: 0
  ShowTrxIDLbl: 1
  HasTrx: 0

View: 
  XDir: 'n'
  YDir: 'r'
  CLim:
    Min:
    Max:
  Gamma: 
  FigurePos:
    left: 
    bottom: 
    width: 
    height: 
  AxisLim:
    xmin: 
    xmax: 
    ymin:  
    ymax: 
  InvertMovie:
  AxColor: [1,1,1]
  AxFontSize: 12
  ShowAxTicks: 0
  ShowGrid: 0
  CenterOnTarget: 0
  RotateTargetUp: 0
  OccludedBox: 0

Movie:
  ForceGrayScale: 1
  FrameStepBig: 10
  ShiftArrowNavMode: NEXTTIMELINE
  ShiftArrowNavModeThresh: 1
  ShiftArrowNavModeThreshCmp: '>'
  PlayFPS: 10
  PlaySegmentRadius: 50

LabelPointsPlot:
  ColorMapName: 'darkjet'
  MarkerProps:
    Marker: '+'
    MarkerSize: 6
    LineWidth: 2
  TextProps: 
    FontSize: 14
    FontName: 'Helvetica'
    FontWeight: 'normal'
    FontAngle: 'normal'
    Visible: 'on'
  TextOffset: 5
  OccludedMarker: 'o'
  SkeletonProps:
    LineWidth: 2
    Color: [1,0,0]
  
  TemplateMode:
    TemplatePointColor: [1,1,1]
    SelectedPointMarker: 'x'
    SelectedOccludedMarker: 's'

  SequenceMode:

  HighThroughputMode:
    NFrameSkip: 5
    UnlabeledPointColor: [1,1,1]
    OtherLabeledPointColor: [0,1,0]

  ErrorCorrectMode:
    MarkedMarkerSize: 16

  MultiViewCalibratedMode:
    EpipolarLineWidth: 2
    ReconstructedMarker: 'o'
    ReconstructedMarkerSize: 6
    ReconstructedLineWidth: 2

InfoTimelines:
  FrameRadius: 50 # default timeline radius (in frames)
  XColor: [0.8,0.8,0.8] # ax.XColor
  dXTick: 10 

PrevAxes:
  Mode: LASTSEEN
  ModeInfo: 

Track:
  Enable: 0
  Type: CPRLabelTracker
  PredictFrameStep: 5
  PredictFrameStepBig: 10
  PredictNeighborhood: 100
  PredictPointsPlot: # Plot cosmetics for tracking results
    ColorMapName: 'lightjet' # 'Color' will be added
    MarkerProps:
      Marker: '+'
      MarkerSize: 10
      LineWidth: 2
    OccludedMarker: 'o'
    TextProps:
      FontSize: 14
      FontName: 'Helvetica'
      FontWeight: 'normal'
      FontAngle: 'normal'
      Visible: 'off'
    TextOffset: 5
    SkeletonProps:
      LineWidth: 2
      Color: [1,0,0]

    
  ImportPointsPlot: # Plot cosmetics for imported results
    ColorMapName: 'lightjet' # 'Color' will be added
    MarkerProps:
      Marker: '+'
      MarkerSize: 10
      LineWidth: 2
    OccludedMarker: 'o'
    TextProps:
      FontSize: 14
      FontName: 'Helvetica'
      FontWeight: 'normal'
      FontAngle: 'normal'
      Visible: 'off'
    TextOffset: 5
    SkeletonProps:
      LineWidth: 2
      Color: [1,0,0]


  PredictInterpolate: 0         # If true, tracked results are interpolated/extrapolated to all frames when visualizing
  PredictInterpolatePointsPlot: # Plot cosmetics for interpolated tracking results
    Marker: '.'
    MarkerSize: 5
    LineWidth: 1

CPRLabelTracker:
  # StoreFullTracking: NONE One of StoreFullTrackingType
  PredictReplicatesPlot: # Plot cosmetics for tracking replicates
    Marker: '.'
    MarkerSize: 15
    MarkerFaceAlpha: 0.5
    MarkerEdgeAlpha: 0.5

Shortcuts: # shortcuts. case insensitive!
  menu_file_load: o # file -> load project
  menu_file_new: n # file -> new project
  menu_file_save: s # file -> save project
  menu_file_managemovies: m # file -> manage movies
  menu_file_quit: q # file -> quit
  menu_view_hide_labels: h # view -> hide labels
  menu_view_hide_predictions: p # view -> hide predictions
  menu_view_hide_imported_predictions: i # view -> hide imported predictions
  menu_view_showhide_skeleton: e # view -> show skeleton
  menu_view_fit_entire_image: f # view -> Zoom out/full image(s)
  menu_view_showhide_maroi: b
  menu_track_set_labels: l # accept predictions as labels
  tbAccept: f # accept toggle button
  pbPlaySeg: u # play a few frames before the current frame
  pbPlaySegRev: i # play a few frames after the current frame backwards
...
